@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(211, 211, 211);
  border-radius: 10px;
}
